.boxshadow {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}
* {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
/* Set Overflow-x so that there isn't a horizontal scroll on mobile */
body {
  background: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}
header {
  height: 90px;
  border-top: 7px solid #c1d72e;
  background: url(../img/background.gif);
  /*
    position:fixed;
    z-index:100;
    width:100%;
    */
}
header.login {
  overflow: auto;
}
header.login .logo {
  width: 188px;
  margin: 25px auto 40px;
}
header .logo {
  display: block;
  background: url(../img/logo.png) no-repeat;
  text-indent: -10000px;
  height: 44px;
  width: 188px;
  margin: 10px 0 0px 0px;
}
header .container > .navbar-header {
  margin: 0px;
}
header .container > .navbar-header .navbar-toggle {
  margin: 15px 0px 0px 0px;
  background: rgba(0, 0, 0, 0.4);
}
header .container > .navbar-header .navbar-toggle .icon-bar {
  background: White;
}
header .container .navbar-collapse.collapse {
  border: none;
  display: block;
  background: #151515;
  position: absolute;
  left: -100%;
  top: 70px;
  width: 80%;
  max-height: none;
  -webkit-transition: left 0.5s ease 2s ease;
  -moz-transition: left 0.5s ease 2s ease;
  -o-transition: left 0.5s ease 2s ease;
  transition: left 0.5s ease 2s ease;
}
header .container .navbar-collapse.collapse.in {
  left: 15px;
}
header .container .navbar-collapse.collapse.in > li > a {
  padding: 8px 15px;
  border-bottom: 1px solid grey;
}
header .container .navbar-collapse.collapse .nav {
  margin: 0px -15px;
}
header .container .navbar-collapse.collapse .nav .dropdown-menu {
  padding: 0px;
  background: #FFF;
  top: 45px;
  left: 0px;
}
header .container .navbar-collapse.collapse .nav .dropdown-menu > li > a:hover {
  background: #f0f0f0;
}
header .container .navbar-collapse.collapse .nav > li.active > a,
header .container .navbar-collapse.collapse .nav > li.active > a:hover,
header .container .navbar-collapse.collapse .nav > li.open > a,
header .container .navbar-collapse.collapse .nav > li.open > a:focus,
header .container .navbar-collapse.collapse .nav > li > a:focus {
  background: #c1d72e;
  color: rgba(0, 0, 0, 0.75);
}
header .container .navbar-collapse.collapse .nav > li.secondary > a {
  color: rgba(255, 255, 255, 0.4);
}
header .container .navbar-collapse.collapse .nav > li > a {
  color: #FFF;
  padding: 13px 15px;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  font-size: 14px;
}
header .container .navbar-collapse.collapse .nav > li > a:hover {
  background: rgba(0, 0, 0, 0.25);
  color: white;
}
header .container .navbar-collapse.collapse .nav.profile > li > a {
  color: #21aee8;
}
#mainContainer {
  left: 0;
  position: absolute;
  width: 100%;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
}
#mainContainer.in {
  left: 80%;
}
.shadowBox {
  margin-top: -15px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  background: white;
  overflow: auto;
  padding-bottom: 15px;
}
.input-group input.form-control,
.btn {
  padding: 8px 12px;
}
.callout {
  background: #f0f0f0;
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #0000ff;
}
.btn-primary {
  background: #21aee8;
  border-bottom: 3px solid #003468;
}
.input-group {
  width: 100%;
}
.input-group .input-group-addon {
  width: 36px;
  text-align: center;
}
.input-group .input-arrow {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ccc;
  margin: 0;
  z-index: 5;
}
@media (min-width: 768px) {
  header {
    height: auto;
  }
  header .logo {
    width: 40px;
    margin: 30px 0 0 0;
  }
  header .container .navbar-collapse.collapse {
    width: auto;
    background: none;
    position: relative;
    left: auto;
    top: auto;
    padding: 0px;
    margin: 25px 0 35px 50px;
  }
  header .container .navbar-collapse.collapse .nav {
    margin: 0px;
  }
  header .container .navbar-collapse.collapse .nav .dropdown-menu {
    padding: 10px 0px;
  }
  header .container .navbar-collapse.collapse .nav > li > a {
    padding: 13px 8px;
  }
  #mainContainer {
    position: relative;
    left: auto;
    width: 750px;
  }
}
@media (min-width: 992px) {
  header .container > .navbar-header {
    margin: 0px;
  }
  header .container .navbar-collapse.collapse {
    margin: 25px 0 40px 50px;
  }
  header .container .navbar-collapse.collapse .nav > li > a {
    font-size: 16px;
    padding: 13px;
  }
  #mainContainer {
    width: 992px;
  }
}
@media (min-width: 1200px) {
  header .logo {
    width: 188px;
  }
  header .container .navbar-collapse.collapse {
    padding: 0px;
    margin: 30px 0 40px 195px;
  }
  #mainContainer {
    width: 1200px;
  }
}
